<div class="l-admin" ng-controller="adminController">
    <div class="l-admin__left">
        <ul class="l-admin__left__list">
            <li class="l-admin__left__list__child"><a href="/admin/products/new"><i class="fa fa-pencil-square-o"></i>NEW POST</a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin'}"><a href="/admin"><i class="fa fa-home"></i>HOME</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/products'}"><a href="/admin/products?filter=all"><i class="fa fa-gift"></i>PRODUCT</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/orders'}"><a href="/admin/orders/?filter=all"><i class="fa fa-shopping-cart"></i>ORDER</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/categories'}"><a href="/admin/categories"><i class="fa fa-tag"></i>CATEGORY</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/customers'}"><a href="/admin/customers"><i class="fa fa-user"></i>CUSTOMER</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/settings'}"><a href="/admin/settings"><i class="fa fa-cog"></i>SETTING</a></li>
            <li class="l-admin__left__list__child"><a href=""><i class="fa fa-sign-out"></i>LOGOUT</a></li>
        </ul>
    </div>
    <div class="l-admin__right">
        <div class="l-admin__right__foot">
            <div class="l-admin__right__foot__content">
            <ul class="l-admin__right__foot__content__list">
    <li ng-class="{'on': path === '/admin/settings/users'}"><a href="/admin/settings/users">管理ユーザー</a></li>
    <li ng-class="{'on': path === ''}"><a href="/admin/settings/mail">メールテンプレート</a></li>
    <li ng-class="{'on': path === ''}"><a href="/admin/settings/agreement">利用規約</a></li>
    <li ng-class="{'on': path === ''}"><a href="/admin/settings/traderule">特定商法の記述</a></li>
</ul>
                <br>
                <%= form_for([:admin_settings, @card_mail_content] , :url => {:action => 'update_card_mail_content'}) do |c| %>
                <p>件名</p>
                <%= c.text_area :subject , class: 'form-control' %>
                <p>本文</p>
                <%= c.text_area :text , class: 'form-control' %>

                <%= c.submit :編集する , class: "btn btn-primary"%>
                <% end %>

                <%= form_for([:admin_settings, @bank_mail_content] , :url => {:action => 'update_bank_mail_content'}) do |b| %>
                <p>件名</p>
                <%= b.text_area :subject , class: 'form-control' %>
                <p>本文</p>
                <%= b.text_area :text , class: 'form-control' %>

                <%= b.submit :編集する , class: "btn btn-primary"%>
                <% end %>

            </div>
        </div>
    </div>
</div>