<% provide(:title, "Log in") %>

<div class="l-admin" ng-controller="adminController">
    <div class="l-admin__left">
        <ul class="l-admin__left__list">
            <li class="l-admin__left__list__child"><a href=""><i class="fa fa-pencil-square-o"></i>NEW POST</a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin'}"><a href="/admin"><i class="fa fa-home"></i>HOME</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/products'}"><a href="/admin/products?filter=all"><i class="fa fa-gift"></i>PRODUCT</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/orders'}"><a href="/admin/orders/?filter=all"><i class="fa fa-shopping-cart"></i>ORDER</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/categories'}"><a href="/admin/categories"><i class="fa fa-tag"></i>CATEGORY</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/customers'}"><a href="/admin/customers"><i class="fa fa-user"></i>CUSTOMER</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/settings'}"><a href="/admin/settings"><i class="fa fa-cog"></i>SETTING</a></li>
            <li class="l-admin__left__list__child"><a href=""><i class="fa fa-sign-out"></i>LOGOUT</a></li>
        </ul>
    </div>
    <div class="l-admin__right">
        <div class="l-admin__right__foot">
            <div class="l-admin__right__foot__content">
<div class="l-admin__right__foot__content__body">
    <table class="c-table">
<h1>ログイン（テスト）</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: admin_login_path) do |f| %>

      <%= f.label :メール %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
    </table>
</div>
            </div>
        </div>
    </div>
</div>