<div class="l-admin" ng-controller="adminController">
    <div class="l-admin__left">
        <ul class="l-admin__left__list">
            <li class="l-admin__left__list__child"><a href=""><i class="fa fa-pencil-square-o"></i>NEW POST</a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin'}"><a href="/admin"><i class="fa fa-home"></i>HOME</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/products'}"><a href="/admin/products?filter=all"><i class="fa fa-gift"></i>PRODUCT</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/orders'}"><a href="/admin/orders/?filter=all"><i class="fa fa-shopping-cart"></i>ORDER</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/categories'}"><a href="/admin/categories"><i class="fa fa-tag"></i>CATEGORY</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/customers'}"><a href="/admin/customers"><i class="fa fa-user"></i>CUSTOMER</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/settings'}"><a href="/admin/settings"><i class="fa fa-cog"></i>SETTING</a></li>
            <li class="l-admin__left__list__child"><a href=""><i class="fa fa-sign-out"></i>LOGOUT</a></li>
        </ul>
    </div>
    <div class="l-admin__right">
        <div class="l-admin__right__foot">
            <div class="l-admin__right__foot__content">
<div class="l-admin__right__foot__content__full">
    <table class="c-table">
        <thead class="c-table__thread">
            <tr class="c-table__row">
                <th class="c-table__head small">id</th>
                <th class="c-table__head normal">status</th>
                <th class="c-table__head large">user</th>
                <th class="c-table__head large">date</th>
                <th class="c-table__head">option</th>
            </tr>
        </thead>
        <tbody class="c-table__body">
            <tr class="c-table__row" ng-repeat="order in data.order_list">
                <td class="c-table__data"><a href="">{{order.id}}</a></td>
                <td class="c-table__data">{{order.status}}</td>
                <td class="c-table__data"><a href="">{{order.user.name}}</a></td>
                <td class="c-table__data">{{order.date}}</td>
                <td class="c-table__data">{{order.option}}</td>
            </tr>
        </tbody>
    </table>
    
<!--

編集先のリンクが、idで判断すると、色、シーンと同じIDの区別がつかない。
直す

-->
<ul class="admin-categoryList u-mt-40">
  <li>
    <div class="categoryWrapper">
      <p>オプション</p>
    </div>
  </a>
</li>

<% @color.each do |color| %>
<li>
  <a>
    <div class="categoryWrapper">
      <p>色<%= color.id %>：<%= color.color %></p>
      <p><%= link_to '編集', "/colors/#{color.id}/edit" , method: :get ,class: "btn btn-primary"%>
      </p>
    </div>
  </a>
</li>
<% end %>

<li>
  <div class="categoryWrapper">
    <%= form_tag({controller: :colors, action: :create}) do %>
    色の追加
    <%= text_field_tag "color[color]", "", :id => "color" %><br />
    <%= submit_tag "作成" ,class: "btn btn-primary"%>
  </div>
  <% end -%>
</li>

<% @balloon_type.each do |balloon_type| %>
<li>
  <a>
    <div class="categoryWrapper">
      <p>バルーンの種類<%= balloon_type.id %>：<%= balloon_type.balloon_type %></p>
      <p><%= link_to '編集', "/balloon_types/#{balloon_type.id}/edit" , method: :get ,class: "btn btn-primary"%>
      </p>
    </div>
  </a>
</li>
<% end %>

<li>
  <div class="categoryWrapper">
    <%= form_tag({controller: :balloon_types, action: :create}) do %>
    バルーンの種類の追加
    <%= text_field_tag "balloon_type[balloon_type]", "", :id => "balloon_type" %><br />
    <%= submit_tag "作成" ,class: "btn btn-primary"%>
  </div>
  <% end -%>
</li>

<% @scene.each do |scene| %>
<li>
  <a>
    <div class="categoryWrapper">
      <p>シーン<%= scene.id %>：<%= scene.scene %></p>
      <p><%= link_to '編集', "/scenes/#{scene.id}/edit" , method: :get ,class: "btn btn-primary"%>
      </p>
    </div>
  </a>
</li>
<% end %>
<li>
  <div class="categoryWrapper">
    <%= form_tag({controller: :scenes, action: :create}) do %>
    目的シーンの追加
    <%= text_field_tag "scene[scene]", "", :id => "scene" %><br />
    <%= submit_tag "作成" ,class: "btn btn-primary"%>
  </div>
  <% end -%>
</li>

<% @chara.each do |chara| %>
<li>
  <a>
    <div class="categoryWrapper">
      <p>キャラクター<%= chara.id %>：<%= chara.chara %></p>
      <p><%= link_to '編集', "/characters/#{chara.id}/edit" , method: :get ,class: "btn btn-primary"%>
      </p>
    </div>
  </a>
</li>
<% end %>
<li>
  <div class="categoryWrapper">
    <%= form_tag({controller: :characters, action: :create}) do %>
    キャラクターの追加
    <%= text_field_tag "chara[chara]", "", :id => "chara" %><br />
    <%= submit_tag "作成" ,class: "btn btn-primary"%>
  </div>
  <% end -%>
</li>

<% @boxsize.each do |boxsize| %>
<li>
  <a>
    <div class="categoryWrapper">
      <p>箱のサイズ<%= boxsize.id %>：<%= boxsize.boxsize %></p>
      <p><%= link_to '編集', "/admin_balloon_options/#{boxsize.id}/edit" , method: :get ,class: "btn btn-primary" %>
      </p>
    </div>
  </a>
</li>
<% end %>

<li>
  <div class="categoryWrapper">
    <%= form_tag({controller: :admin_balloon_options, action: :create}) do %>
    箱サイズの追加
    <%= text_field_tag "boxsize[boxsize]", "", :id => "boxsize" %><br />
    <%= submit_tag "作成" ,class: "btn btn-primary"%>
  </div>
  <% end -%>
</li>
</ul>
</div>
            </div>
        </div>
    </div>
</div>