<%= render partial: 'header' %>

<ul class="p-categoryList u-mt-40">
    <li>
        <div class="categoryWrapper">
          <p>お客様情報</p>
          <%= form_for([:order, @order] , :url => {:action => 'create'}) do |f| %>

          <%= f.label :オプション %>
          <%= f.number_field :option , class: 'form-control' %>


          <%= f.submit :商品登録する , class: "btn btn-primary"%>

  <!--  画像（複数)、送料の有無
-->
          <% end %>
        </div>
    </li>
</ul>