<% if @user.errors.any? %>
<div>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li style="color: red"><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<ul class="p-categoryList u-mt-40">
  <li>
    <div class="categoryWrapper">
      <%= form_for([:order, @order] , :url => {:action => 'create'}) do |f| %>

      <h1>お客様情報</h1>
        <%= fields_for(@user) do |i| %>

          <%= i.label :姓 %>
          <%= i.text_field :first_name , class: 'form-control' %>

          <%= i.label :姓（フリガナ） %>
          <%= i.text_field :first_name_kana , class: 'form-control' %>

          <%= i.label :名 %>
          <%= i.text_field :last_name , class: 'form-control' %>

          <%= i.label :名（フリガナ） %>
          <%= i.text_field :last_name_kana , class: 'form-control' %>

          <%= i.label :電話番号 %>
          <%= i.telephone_field :phone , class: 'form-control' %>

          <%= i.label :メールアドレス %>
          <%= i.email_field :email, class: 'form-control' %>

          <%= i.label :メールアドレス（確認） %>
          <%= i.email_field :email_confirmation  , class: 'form-control' %>

          <%= i.label :郵便番号 %>
          <%= i.text_field :postal_code , class: 'form-control' %>

          <%= i.label :住所 %>
          <br>
          <%= i.label :都道府県 %>
          <%= i.collection_select :city_id, City.all, :id, :name , class: 'form-control' %>
          <br>

          <%= i.label :市区群町村 %>
          <%= i.text_field :address , class: 'form-control' %>

          <%= i.label :番地・建物 %>
          <%= i.text_field :address2 , class: 'form-control' %>

        <% end %>

      <br>
      <br>
      <h1>注文情報</h1>
      <%= f.label :購入商品 %>
      <%= f.text_field :option , class: 'form-control' %>

      <%= f.label :到着日時 %>
      <%= f.datetime_select :delively_date ,:minute_step => 30, class: 'form-control' %>

      <br>
      <%= f.label :お届け先住所 %>
      <br>
      <%= f.label :都道府県 %>
      <%= f.collection_select :city_id, City.all, :id, :name , class: 'form-control' %>
      <br>

      <%= f.label :市区群町村 %>
      <%= f.text_field :delivery_address , class: 'form-control' %>

      <%= f.label :番地・建物 %>
      <%= f.text_field :delivery_address2 , class: 'form-control' %>

      <%= f.label :オプション %>
      <%= f.text_field :option , class: 'form-control' %>

      <%= f.label :送る相手 %>
      <%= f.text_field :option , class: 'form-control' %>

      <%= f.label :使用目的 %>
      <%= f.collection_select :scene_id, Scene.all, :id, :scene , class: 'form-control' %>
      <br>

      <%= f.label :送料 %>
      <%= f.text_field :option , class: 'form-control' %>


      <%= f.label :合計値段 %>



      <%= f.submit :注文する , class: "btn btn-primary"%>

      <% end %>
    </div>
  </li>
</ul>