


<ul class="p-categoryList u-mt-40">
  <li>
    <div class="categoryWrapper">
      <p>箱サイズの変更</p>
      <%= form_for([:admins, @boxsize] , :url => {:action => 'update'}) do |f| %>
      <p>サイズID:<%= @boxsize.id %></p>
      <%= f.text_field :id , class: 'form-control' %>
      <p>大きさ:<%= @boxsize.boxsize %></p>
      <%= f.text_field :boxsize , class: 'form-control' %>
      <%= f.submit :編集する , class: "btn btn-primary"%>
      <% end %>
    </div>
  </li>
</ul>
