

<ul class="p-categoryList u-mt-40">
  <li>
    <div class="categoryWrapper">
      <%= form_for([:admins, @character] , :url => {:action => 'update'}) do |f| %>
      <p>色の変更</p>
      <p>キャラクターID:<%= @character.id %></p>
      <%= f.text_field :id , class: 'form-control' %>
      <p>ジャンル名:<%= @character.character %></p>
      <%= f.text_field :character , class: 'form-control' %>

      <%= f.submit :編集する , class: "btn btn-primary"%>
      <% end %>
    </div>
  </li>
</ul>
