<!DOCTYPE html>
<html ng-app="balloonApp">
<head>
  <title>EmotionalBalloon</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">
  <script src="/js/application.min.js"></script>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="./img/favicon.ico">
  <meta name="robots" content="noindex,nofollow">
  <meta content="!" name="fragment">
  <meta name="viewport" content="width=device-width, initial-scale=1,  user-scalable=no">
  <link rel="canonical" href="https://emotional-balloon.com<%= canonical %>">
  <% if @json_sales_orders.present? %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <% end %>


<script type="text/javascript">
    var balloon_data = {
        data: {
            <% if @json_products.present? %>
              search_products: {
                title:"",
                discription:"",
                image:"",
                current_page:<%= params[:page] %><%= 1 if params[:page] == nil %>,
                max_page:<%= @json_products.num_pages %>,
                product_list:[
                  <% @json_products.each do |p| %>
                    {
                        id:    <%= p.id %>,
                        name: "<%= p.name %>",
                        price: <%= p.price %>,
                        stock: <%= p.stocks %>,
                        count: <%= p.count %>,
                        created_at: "<%= p.created_at.strftime('%Y/%m/%d %H:%M:%S') %>",
                        image: "/images/get_image?id=<%= p.images[0].id %>"
                    },
                  <% end %>
                ],
              },
            <% end %>
            <% if @json_ranking_products.present? %>
              ranking_products:[
                <% @json_ranking_products.each do |p| %>
                  {
                    id:<%= p.id %>,
                    name:"<%= p.name %>",
                    price:<%= p.price %>,
                    image: "/images/get_image?id=<%= p.images[0].id %>",
                    description:"<%= p.comment %>",
                  },
                <% end %>
              ],
            <% end %>
            <% if @json_detail_product.present? %>
              detail_product: {
                id:          <%= @json_detail_product.id  %>,
                name:       "<%= @json_detail_product.name %>",
                price:       <%= @json_detail_product.price %>,
                stock:      <%= @json_detail_product.stocks %>,
                size:     <%= @json_detail_product.size %>,
                description:"<%= @json_detail_product.comment %>",
                count:       <%= @json_detail_product.count %>,
                status:      <%= @json_detail_product.status %>,
                created_at: "<%= @json_detail_product.created_at.strftime('%Y/%m/%d %H:%M:%S') %>",
                <% if @json_detail_product.images.present? %>
                images:[
                  <% @json_detail_product.images.each do |p| %>
                    "/images/get_image?id=<%= p.id %>",
                  <% end %>
                ],
                <% end %>
                colors:[
                  <% @json_detail_product.images.each do |p| %>
                        {
                          name:"<%= p.color %>",
                          image:"/images/get_image?id=<%= p.id %>",
                        },
                  <% end %>
                ],
                category: <%= @json_detail_product.category.id %>,
              },
            <% end %>
            <% if @json_order_list.present? %>
              order_list:{
                current_page:<%= params[:page] %><%= 1 if params[:page] == nil %>,
                max_page:<%= @json_order_list.num_pages %>,
                orders:[
                  <% @json_order_list.each do |o| %>
                    {
                      id:<%= o.id %>,
                      family_name: "<%= o.user.user_names[0].user_family_name %>",
                      first_name: "<%= o.user.user_names[0].user_first_name%>",
                      price:<%= o.price%>,
                      count:<%= o.user.repeat_count %>,
                      status:"<%= o.order_status %>",
                      created_at:"<%= o.created_at.strftime('%Y/%m/%d %H:%M:%S') %>",
                      payment_info:{
                       method: "<%= o.payment_info %>"
                      }
                    },
                  <% end %>
                ],
              },
            <% end %>
            <% if @json_detail_order.present? %>
                detail_order: {
                    id: <%= @json_detail_order.id %>,
                    status: "<%= @json_detail_order.order_status %>",
                    product_info: [
                      <% @order_products.each do |product| %>
                        {
                            id: <%= product.product_id %>,
                            count: <%= product.count %>,
                            name: "<%= product.product.name %>",
                            stocks: <%= product.product.stocks %>,
                            price: <%= product.product.price %>,
                            images: [
                                 "/images/get_image?id=<%= product.product.images[0].id %>",
                            ],
                        },
                      <% end %>
                    ],
                    buyer_info: {
                        name: [
                          <% @buyer_info.user_names.each do |name| %>
                            {
                                family_name: "<%= name.user_family_name %>",
                                first_name: "<%= name.user_first_name %>"
                            },
                          <% end %>
                        ],
                        postal_code: <%= @buyer_info.postal_code %>,
                        prefectures: "<%= @buyer_info.city %>",
                        address: "<%= @buyer_info.address %>",
                        phone: "<%= @buyer_info.customer_phone %>",
                        mail: "<%= @buyer_info.email %>",
                    },
                    destination_info: {
                        name: [
                          <% @destination_info.order_delivery_names.each do |name| %>
                            {
                                family_name: "<%= name.order_family_name %>",
                                first_name: "<%= name.order_first_name %>"
                            },
                          <% end %>
                        ],
                        postal_code: "<%= @destination_info.postal_code %>",
                        prefectures: "<%= @destination_info.city %>",
                        address: "<%= @destination_info.delivery_address %>",
                        phone: "<%= @destination_info.delivery_phone %>",
                        date: "<%= @destination_info.created_at.strftime('%Y/%m/%d %H:%M:%S') %>",
                        classification: "",
                    },
                    payment_info: {
                        method: "<%= @json_detail_order.payment_info %>",
                    },
                    comment: "<%= @json_detail_order.option %>",
                },
            <% end %>
            <% if @json_category_list.present? %>
              category_list: [
                    <% @json_category_list.each do |c| %>
                      {
                        id:<%= c.id %>,
                        name_en:"<%= c.name_en %>",
                        name_jp:"<%= c.name_ja %>",
                        type: "<%= c.genre %>",
                      },
                    <% end %>
              ],
            <% end %>
            <% if @json_category_detail.present? %>
              category_detail:{
                id: <%= @json_category_detail.id %>,
                name_en: "<%= @json_category_detail.name_en %>",
                name_jp: "<%= @json_category_detail.name_ja %>",
                type: "<%= @json_category_detail.genre %>",
              },
            <% end %>
            <% if @json_customer_list.present? %>
              customer_list:{
                current_page:<%= params[:page] %><%= 1 if params[:page] == nil %>,
                max_page:<%= @json_customer_list.num_pages %>,
                customers:[
                  <% @json_customer_list.each do |c| %>
                    {
                      id:<%= c.id %>,
                      family_name: "<%= c.user_names[0].user_family_name %>",
                      first_name:  "<%= c.user_names[0].user_first_name%>",
                      email:"<%= c.email %>",
                      phone:"<%= c.customer_phone %>",
                    },
                  <% end %>
                ],
              },
            <% end %>
            <% if @json_detail_customer.present? %>
              detail_customer:{
                id: <%= @json_detail_customer.id %>,
                email: <%= @json_detail_customer.email %>,
                phone: <%= @json_detail_customer.customer_phone %>,
                city: <%= @json_detail_customer.city %>,
                address: <%= @json_detail_customer.address %>,
              },
            <% end %>
            <% if @json_admin_users.present? %>
              admin_users:[
                <% @json_admin_users.each do |a| %>
                  {
                    id:<%= a.id %>,
                    name:"<%= a.name %>",
                    email:"<%= a.email %>",
                  },
                <% end %>
              ],
            <% end %>
            <% if @json_sales_products.present? %>
              sales_products:[
                {

                },
              ],
            <% end %>
            <% if @json_sales_orders.present? %>
              sales_orders:[
                <% @json_sales_orders.each do |s| %>
                <% end %>
              ],
              sales_yesterday:{
                day:   <%= @json_sales_yesterday[:day] %>,
                price: <%= @json_sales_yesterday[:price] %><%= 0 if @json_sales_yesterday[:price] == nil %>,
                count: <%= @json_sales_yesterday[:count] %>,
              },
              sales_weekly:{
                price: <%= @json_sales_weekly[:price] %><%= 0 if @json_sales_weekly[:price] == nil %>,
                count: <%= @json_sales_weekly[:count] %>,
              },
              sales_monthly:{
                price: <%= @json_sales_monthly[:price] %><%= 0 if @json_sales_monthly[:price] == nil %>,
                count: <%= @json_sales_monthly[:count] %>,
              },
              sales_year:{
                price: <%= @json_sales_year[:price] %><%= 0 if @json_sales_year[:price] == nil %>,
                count: <%= @json_sales_year[:count] %>,
              },
            <% end %>
            <% if @json_sales_average.present? %>
              sales_average:<%= @json_sales_average %>,
            <% end %>
            <% if @json_repeat_sales_average.present? %>
              repeat_sales_average: <%= @json_repeat_sales_average %>,
            <% end %>
            <% if @json_new_sales_average.present? %>
              new_sales_average: <%= @json_new_sales_average %>,
            <% end %>
            <% if @json_repeat_user_count.present? %>
              repeat_user_count: <%= @json_repeat_user_count %>,
            <% end %>
            <% if @json_detail_mail.present? %>
              detail_mail: {
                id: <%= @json_detail_mail.id %>,
                subject: "<%= @json_detail_mail.subject %>",
                content:  "<%= @json_detail_mail.text.gsub(/\n/,"\\n") %>",
              },
            <% end %>
            <% if @json_contact_list.present? %>
              contact_list:{
                current_page:<%= params[:page] %><%= 1 if params[:page] == nil %>,
                max_page:<%= @json_contact_list.num_pages %>,
                contacts: [
                  <% @json_contact_list.each do |c| %>
                    {
                      id:         <%= c.id %>,
                      status:     "<%= c.status %>",
                      name:       "<%= c.name %>",
                      subject:    "<%= c.subject.gsub(/(\r\n|\r|\n|\f)/,"\\n") %>",
                      content:    "<%= c.content.gsub(/(\r\n|\r|\n|\f)/,"\\n") %>",
                      created_at: "<%= c.created_at.strftime('%Y/%m/%d %H:%M') %>",
                      updated_at: "<%= c.updated_at.strftime('%Y/%m/%d %H:%M') %>",
                    },
                  <% end %>
                ],
              },
            <% end %>
            <% if @json_detail_contact.present? %>
              detail_contact:
                 {
                    id:          <%= @json_detail_contact.id %>,
                    status:     "<%= @json_detail_contact.status %>",
                    name:       "<%= @json_detail_contact.name %>",
                    subject:    "<%= @json_detail_contact.subject.gsub(/(\r\n|\r|\n|\f)/,"\\n") %>",
                    content:    "<%= @json_detail_contact.content.gsub(/(\r\n|\r|\n|\f)/,"\\n") %>",
                    created_at: "<%= @json_detail_contact.created_at.strftime('%Y/%m/%d %H:%M') %>",
                    updated_at: "<%= @json_detail_contact.updated_at.strftime('%Y/%m/%d %H:%M') %>",
                  },
            <% end %>
        }
    };
</script>

</head>
<body ng-controller="balloonController">
  <%= yield %>
<%= debug(params)  if Rails.env.development? %>
</body>
</html>