<!DOCTYPE html>
<html ng-app="balloonApp">
<head>
  <title>EmotionalBalloon</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">
  <script src="/js/application.min.js"></script>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="./img/favicon.ico">
  <meta name="robots" content="noindex,nofollow">


<script type="text/javascript">
    var balloon_data = {
        data: {
            <% if @json_products.present? %>
              search_products: {
                title:"",
                discription:"",
                image:"",
                current_page:<%= params[:page] %><%= 1 if params[:page] == nil %>,
                max_page:<%= @json_products.num_pages %>,
                product_list:[
                  <% @json_products.each do |p| %>
                    {
                        id:    <%= p.id %>,
                        name: "<%= p.name %>",
                        price: <%= p.price %>,
                        stock: <%= p.stocks %>,
                        count: <%= p.count %>,
                        created_at: "<%= p.created_at.strftime('%Y/%m/%d %H:%M:%S') %>",
                        image:"<%= p.main_image %>"
                    },
                  <% end %>
                ],
              },
            <% end %>
            <% if @json_ranking_products.present? %>
              ranking_products:[
                <% @json_ranking_products.each do |p| %>
                  {
                    id:<%= p.id %>,
                    name:"<%= p.name %>",
                    price:<%= p.price %>,
                    image:"<%= p.main_image %>",
                    description:"<%= p.comment %>",
                  },
                <% end %>
              ],
            <% end %>
            <% if @json_detail_product.present? %>
              detail_product: {
                id:          <%= @json_detail_product.id  %>,
                name:       "<%= @json_detail_product.name %>",
                price:       <%= @json_detail_product.price %>,
                stocks:      <%= @json_detail_product.stocks %>,
                size:     <%= @json_detail_product.size %>,
                description:"<%= @json_detail_product.comment %>",
                count:       <%= @json_detail_product.count %>,
                status:      <%= @json_detail_product.status %>,
                created_at: "<%= @json_detail_product.created_at.strftime('%Y/%m/%d %H:%M:%S') %>",
                <% if @json_detail_product.images.present? %>
                image:[
                  <% @json_detail_product.images.each do |p| %>
                    "<%= p.image %>",
                  <% end %>
                ],
                <% end %>
                <% if @json_detail_product.product_scenes.present? %>
                scenes: [
                  <% @json_detail_product.product_scenes.each do |s| %>
                    <% if s.status == 1 %>
                  {
                    id: <%= s.scene_id %>,
                    name_en:"<%= s.scene.name_en %>",
                    name_jp:"<%= s.scene.name_ja %>"
                  },
                    <% end %>
                  <% end %>
                ],
                <% end %>
                <% if @json_detail_product.charas.present? %>
                characters: [
                  <% @json_detail_product.product_charas.each do |c| %>
                    <% if c.status == 1%>
                  {
                    id: <%= c.chara_id %>,
                    name_en:"<%= c.chara.name_en %>",
                    name_jp:"<%= c.chara.name_ja %>"
                  },
                    <% end %>
                  <% end %>
                ],
                <% end %>
              },
            <% end %>
            <% if @json_order_list.present? %>
              order_list:[
                <% @json_order_list.each do |o| %>
                  {
                    id:<%= o.id %>,
                    family_name: "<%= o.user.user_names[0].user_family_name %>",
                    first_name: "<%= o.user.user_names[0].user_first_name%>",
                    price:<%= o.price%>,
                    status:"<%= o.order_status %>",
                    created_at:"<%= o.created_at.strftime('%Y/%m/%d %H:%M:%S') %>",
                    payment_info:{
                     method: "<%= o.payment_info %>"
                    }
                  },
                <% end %>
              ],
            <% end %>
            <% if @json_detail_order.present? %>
                detail_order: {
                    id: <%= @json_detail_order.id %>,
                    status: "<%= @json_detail_order.order_status %>",
                    product_info: [
                      <% @order_products.each do |product| %>
                        {
                            id: <%= product.product_id %>,
                            count: <%= product.count %>,
                            name: "<%= product.product.name %>",
                            stocks: <%= product.product.stocks %>,
                            price: <%= product.product.price %>,
                            images: [
                                "<%= product.product.main_image %>",
                            ],
                        },
                      <% end %>
                    ],
                    buyer_info: {
                        name: [
                          <% @buyer_info.user_names.each do |name| %>
                            {
                                family_name: "<%= name.user_family_name %>",
                                first_name: "<%= name.user_first_name %>"
                            },
                          <% end %>
                        ],
                        postal_code: <%= @buyer_info.postal_code %>,
                        prefectures: "<%= @buyer_info.city %>",
                        address: "<%= @buyer_info.address %>",
                        phone: "<%= @buyer_info.phone %>",
                        mail: "<%= @buyer_info.email %>",
                    },
                    destination_info: {
                        name: [
                          <% @destination_info.order_delivery_names.each do |name| %>
                            {
                                family_name: "<%= name.order_family_name %>",
                                first_name: "<%= name.order_first_name %>"
                            },
                          <% end %>
                        ],
                        postal_code: "<%= @destination_info.postal_code %>",
                        prefectures: "<%= @destination_info.city %>",
                        address: "<%= @destination_info.delivery_address %>",
                        phone: "<%= @destination_info.phone %>",
                        date: "<%= @destination_info.created_at.strftime('%Y/%m/%d %H:%M:%S') %>",
                        classification: "",
                    },
                    payment_info: {
                        method: "<%= @json_detail_order.payment_info %>",
                    },
                    comment: "<%= @json_detail_order.option %>",
                },
            <% end %>
            <% if @json_category_list.present? %>
              category_list: [
                <% @json_category_list.each do |c| %>
                  {
                    id:<%= c.id %>,
                    name_en:"<%= c.name_en%>",
                    name_jp:"<%= c.name_ja%>",
                    type: "<%= c.model_name.name.downcase %>",
                    created_at:"<%= c.created_at.strftime('%Y/%m/%d %H:%M:%S') %>",
                  },
                <% end %>
              ],
            <% end %>
            <% if @json_category_detail.present? %>
              category_detail:{
                id: <%= @json_category_detail.id %>,
                name_en: "<%= @json_category_detail.name_en %>",
                name_jp: "<%= @json_category_detail.name_ja %>",
                type: "<%= @json_category_detail.model_name.name.downcase %>",
              },
            <% end %>
            <% if @json_customer_list.present? %>
              customer_list:{
                current_page:<%= params[:page] %><%= 1 if params[:page] == nil %>,
                max_page:<%= @json_customer_list.num_pages %>,
                customers:[
                  <% @json_customer_list.each do |c| %>
                    {
                      id:<%= c.id %>,
                      family_name: "<%= c.user_names[0].user_family_name %>",
                      first_name:  "<%= c.user_names[0].user_first_name%>",
                      email:"<%= c.email %>",
                      phone:"<%= c.phone %>",
                    },
                  <% end %>
                ]
              },
            <% end %>
            <% if @json_detail_customer.present? %>
              detail_customer:{
                id: <%= @json_detail_customer.id %>,
                email: <%= @json_detail_customer.email %>,
                phone: <%= @json_detail_customer.phone %>,
                city: <%= @json_detail_customer.city %>,
                address: <%= @json_detail_customer.address %>,
              },
            <% end %>
            <% if @json_admin_users.present? %>
              admin_users:[
                <% @json_admin_users.each do |a| %>
                  {
                    id:<%= a.id %>,
                    name:"<%= a.name %>",
                    email:"<%= a.email %>",
                  },
                <% end %>
              ],
            <% end %>
            <% if @json_scene_list.present? %>
              scene_list:[
                <% @json_scene_list.each do |s| %>
                  {
                    id: <%= s.id %>,
                    name_en: "<%= s.name_en %>",
                    name_jp: "<%= s.name_ja %>"
                  },
                <% end %>
              ],
            <% end %>
            <% if @json_chara_list.present? %>
              character_list:[
                <% @json_chara_list.each do |s| %>
                  {
                    id: <%= s.id %>,
                    name_en: "<%= s.name_en %>",
                    name_jp: "<%= s.name_ja %>"
                  },
                <% end %>
              ],
            <% end %>
            <% if @json_sales_products.present? %>
              sales_products:[
                {

                },
              ],
            <% end %>
            <% if @json_sales_orders.present? %>
              sales_orders:[
                <% @json_sales_orders.each do |s| %>
                  {
                    day: <%= s[:day] %>,
                    price: <%= s[:price] %>,
                    count: <%= s[:count] %>
                  },
                <% end %>
              ],
            <% end %>

        }
    };
</script>

</head>
<body>
  <%= yield %>
</body>
</html>